In [2]:
%matplotlib inline
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [3]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head()

                    title  year
0  It Happened to One Man  1940
1      Guru, the Mad Monk  1970
2    L'affare si complica  1942
3                 Gasbags  1941
4     I Know Sugar Hungry  2014

In [25]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

In [4]:
len(titles)

231763

### What are the earliest two films listed in the titles dataframe?

In [8]:
min(titles.year)

1894

In [11]:
titles = titles.sort_values('year', ascending = True, na_position = 'last')
titles.head(2)

                    title  year
13476          Miss Jerry  1894
96471  The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [15]:
len(titles[titles.title == 'Hamlet'])

18

### How many movies are titled "North by Northwest"?

In [16]:
len(titles[titles.title == 'North by Northwest'])

1

### When was the first movie titled "Hamlet" made?

In [18]:
titles[titles.title == "Hamlet"].sort_values('year', ascending = True, na_position = 'last').head(1)

        title  year
87586  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [20]:
titles[titles.title == "Treasure Island"].sort_values('year', ascending = True, na_position = 'last')

                  title  year
189990  Treasure Island  1918
200637  Treasure Island  1920
99407   Treasure Island  1934
195484  Treasure Island  1950
5387    Treasure Island  1972
231580  Treasure Island  1973
23892   Treasure Island  1985
110271  Treasure Island  1999

### How many movies were made in the year 1950?

In [19]:
len(titles[titles.year == 1950])

1093

### How many movies were made in the year 1960?

### How many movies were made from 1950 through 1959?

In [21]:
len(titles[(titles.year >= 1950) & (titles.year <= 1959)])

12643

### In what years has a movie titled "Batman" been released?

In [22]:
titles[titles.title == 'Batman'].year

145486    1943
145281    1989
Name: year, dtype: int64

### How many roles were there in the movie "Inception"?

In [26]:
len(cast[cast.title == 'Inception'])

77

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [34]:
sum(cast[cast.title == 'Inception'].n.isnull())

26

93965      False
142630      True
176179      True
189560     False
249274      True
313584      True
319991      True
359899     False
416616      True
426802      True
497134      True
567708      True
657756     False
664056     False
680369     False
682061      True
708971      True
776870      True
780980      True
799975      True
801222      True
804014     False
826712      True
875527      True
904649      True
930030      True
968190     False
1053393    False
1066402    False
1077403    False
           ...
1846324    False
1921831    False
1969321     True
2044006    False
2150268    False
2162011     True
2178025     True
2311257     True
2508239     True
2649777     True
2659606     True
2678306    False
2688577     True
2730380    False
2805647     True
2805655     True
2822423    False
2919535    False
3007188    False
3009607     True
3016119     True
3057701     True
3078575     True
3188328     True
3203466     True
3228853     True
3282417     True
3308731     True
3315409     True
3548983     True
Name: n, dtype: bool

### But how many roles in the movie "Inception" did receive an "n" value?

In [28]:
len(cast[(cast.title == 'Inception') & cast.n.notnull()])

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [37]:
cast[(cast.title == 'North by Northwest') & cast.n.notnull()].sort_values('n', ascending = True)

,title,year,name,type,character,n
837728,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3350925,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1400343,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3014517,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
342556,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
2913833,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1629529,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1225242,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2350548,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1741014,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
640067,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2205189,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
446457,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1449871,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
197729,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1330592,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [38]:
titles[titles.title == 'Sleuth']

         title  year
187563  Sleuth  1972
206467  Sleuth  2007

In [39]:
cast[(cast.title == 'Sleuth') & (cast.year == 1972)].sort_values('n', ascending = True, na_position = 'last')

,title,year,name,type,character,n
1639280,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
313612,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
359153,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1408264,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2611022,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1392247,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [40]:
cast[(cast.title == 'Sleuth') & (cast.year == 2007)].sort_values('n', ascending = True, na_position = 'last')

          title  year                 name     type          character    n
313613   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1242974  Sleuth  2007             Jude Law    actor               Milo  2.0
1735790  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
249381   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
359154   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2611021  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3213430  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

### How many roles were credited in Branaghâ€™s 1996 Hamlet?

### How many "Hamlet" roles have been listed in all film credits through history?

### How many people have played an "Ophelia"?

In [42]:
len(cast[cast.character=='Ophelia'])

109

### How many people have played a role called "The Dude"?

### How many people have played a role called "The Stranger"?

### How many roles has Sidney Poitier played throughout his career?

In [43]:
len(cast[cast.name == 'Sidney Poitier'])

43

### How many roles has Judi Dench played?

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [48]:
cast[(cast.name == 'Cary Grant') & (cast.n == 2) & (cast.year >= 1940) & (cast.year <= 1949)].sort_values('year')

                   title  year        name   type    character    n
837725  My Favorite Wife  1940  Cary Grant  actor         Nick  2.0
837735    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

In [47]:
cast[(cast.name == 'Cary Grant') & (cast.n == 2)].sort_values('year')

,title,year,name,type,character,n
837718,Madame Butterfly,1932,Cary Grant,actor,Lieutenant B.F. Pinkerton,2.0
837738,She Done Him Wrong,1933,Cary Grant,actor,Captain Cummings,2.0
837757,The Woman Accused,1933,Cary Grant,actor,Jeffrey Baxter,2.0
837749,The Eagle and the Hawk,1933,Cary Grant,actor,Henry Crocker,2.0
837712,I'm No Angel,1933,Cary Grant,actor,Jack Clayton,2.0
837758,Thirty Day Princess,1934,Cary Grant,actor,Porter Madison III,2.0
837693,Born to Be Bad,1934,Cary Grant,actor,Malcolm Trevor,2.0
837701,Enter Madame!,1935,Cary Grant,actor,Gerald Fitzgerald,2.0
837768,Wings in the Dark,1935,Cary Grant,actor,Ken Gordon,2.0
837742,Sylvia Scarlett,1936,Cary Grant,actor,Jimmy Monkley,2.0
837766,Wedding Present,1936,Cary Grant,actor,Charlie Mason,2.0
837767,When You're in Love,1937,Cary Grant,actor,Jimmy Hudson,2.0
837746,The Awful Truth,1937,Cary Grant,actor,Jerry Warriner,2.0
837756,The Toast of New York,1937,Cary Grant,actor,Nick Boyd,2.0
837762,Topper,1937,Cary Grant,actor,George Kerby,2.0
837708,Holiday,1938,Cary Grant,actor,Johnny Case,2.0
837694,Bringing Up Baby,1938,Cary Grant,actor,David,2.0
837713,In Name Only,1939,Cary Grant,actor,Alec Walker,2.0
837725,My Favorite Wife,1940,Cary Grant,actor,Nick,2.0
837735,Penny Serenade,1941,Cary Grant,actor,Roger Adams,2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

### How many roles were available for actors in the 1950s?

### How many roles were avilable for actresses in the 1950s?

### How many leading roles (n=1) were available from the beginning of film history through 1980?

### How many non-leading roles were available through from the beginning of film history through 1980?

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?